:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color:#004792;
  color:#E1673C;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



header{
  background-color: #004792;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  width: 99%;
  height: 9%;
  accent-color: #E1673C;
  padding: 15px;
  position: fixed;
  top: 0;
  z-index: 1000;
  left: 0;;
  border-bottom: 8px solid #E1673C;
}



ul{
  display: flex;
  justify-content: space-between,;
  align-items: center;
  
}

ul li{
  list-style: none;
  display: inline;
  padding: 0 80px;
  font-size: 28px;
  text-shadow: 2px 2px 4px #000000;

}
.list:hover{
  background-color: #E1673C;
  cursor: pointer;
  transition: 0.3s;
}





@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
